<div class="logo">
        <img src="/images/pokeball.jpg" alt="Image for logo" id="logo-img" />
        <a href="index.html">Pokémon EV calculator</a>
      </div>
      <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/favorites/index.html">Saved Pokémon</a></li>
          <li><a href="/pokemon-pages/index.html">Pokémon Details</a></li>
        </ul>
      </nav>
      <!-- Country flag placeholder -->
      <div class="country-flag">Country flag</div>